/* Delhi.css */

body {
    background-color: powderblue;
    font-family: 'Georgia', serif;
}

h1 {
    color: purple;
}

h2 {
    color: green;
}

h3 {
    color: red;
}

p {
    font-size: 100%;
    color: blue;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

/* Add other CSS styles as needed */
