
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    position: relative;
    display: flex;
    align-items: center;
}

span {
    font-weight: bold;
    flex-grow: 1;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50% 20%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.map-button {
    background-color: #27ae60;
    margin-left: 5px;
}

.map-button:hover {
    background-color: #218c53;
}
